<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find out your OTT Platform</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{ url_for('static',filename='Files/fonts/material-icon/css/material-design-iconic-font.min.css') }}"

    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='Files/css/style.css') }}" />
</head>

<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                          <div class="container">
                            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                              <div class="container-fluid">
                                <a class="navbar-brand" href="#">  <h2>Get which <span class="badge bg-secondary">OTT</span> platform you will Prefer</h2></a>
                              </div>
                            </nav>
                          </div>
                <!-- <div class="signup-img">
                    <img src="{{ url_for('static',filename='Files/images/signup-img.jpg') }}" alt="">
                </div> -->
                <div class="signup-form">
                    <form method="POST" class="register-form row g-2" id="register-form">
                      <div style="margin:50px 0px 0px 0px">
                        <div class="form-row row g-3">
                            <div class="form-group col-md-3">
                                <label for="ott_amount" class="form-label">Amount Spent on OTT :</label>
                                <input type="text" name="ott_amt" class="form-control" id="ott_amount" pattern="[0-9]*" required />
                            </div>
                            <div class="form-group col-md-3">
                                <label for="tv_amount" class="form-label">Amount Spent on TV :</label>
                                <input type="text" name="tv_amt" class="form-control" id="tv_amount" pattern="[0-9]*" required />
                            </div>
                        </div>
                        <div class="form-row row g-3">
                            <div class="form-group col-md-3">
                                <label for="time" class="form-label">Time spent on OTT :</label>
                                <input type="text" name="ott_t" id="ott_time"class="form-control" pattern="[0-9]*" required />
                            </div>
                            <div class="form-group col-md-3">
                                <label for="time" class="form-label">Time spent on TV :</label>
                                <input type="text" name="tv_t" id="tv_time" class="form-control" pattern="[0-9]*" required />
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="locked" class="form-label">Have you started OTT in lockdown ? :</label>
                            <div>
                                <select class="form-select form-control" name="yes_no2"  id="locked">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="OTT wins TV" class="form-label">Do you like OTT more than TV ? :</label>
                            <div>
                                <select name="yes_no " class="form-select form-control" id="ott_tv">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div></div>
                          <div style="margin:50px 0px 0px 0px">
                            <div class="form-group  col-md-2">
                                <label for="Age" class="form-label">Age :</label>
                                <input type="text" name="age" id="age" class="form-control" pattern="[0-9]*" required />
                            </div>
                            <div class="form-group">
                                <label for="Occupation" class="form-label">Occupation :</label>
                                <div class="col-md-2">
                                    <select name="occupation" class="form-select form-control"id="occp">
                                        <option value=""></option>
                                        <option value="Student">Student</option>
                                        <option value="Full time working">Full Time working</option>
                                        <option value="Housewife">Housewife</option>
                                        <option value="Part time working">Part Time Working</option>
                                        <option value="Retired">Retired</option>
                                        <option value="Unemployed">Unemployed</option>
                                    </select>
                                    <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Living"class="form-label">Where do you live ? :</label>
                                <div class="col-md-3">
                                    <select name="living" class="form-select form-control" id="live">
                                        <option value=""></option>
                                        <option value="Central">Central</option>
                                        <option value="Harbour">Harbour</option>
                                        <option value="Western">Western</option>
                                    </select>
                                    <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="TV" class="form-label ">What TV you use ? :</label>
                                <div class="col-md-2">
                                    <select name="tv_type" class="form-select form-control" id="tv_type">
                                        <option value=""></option>
                                        <option value="Dish">Dish TV</option>
                                        <option value="local">Local Cable</option>
                                        <option value="none">Don't Watch</option>
                                    </select>
                                    <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                                </div>
                            </div>
                            <div class="form-group form-row g-3">
                                <label for="mode"class="form-label">Preferred Mode :</label>
                                <div class="col-md-3">
                                    <select name="mode" class="form-select form-control col-sm-3" id="mode">
                                        <option value=""></option>
                                        <option value="ott">OTT</option>
                                        <option value="tv">TV</option>
                                    </select>
                                    <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                                </div>

                                <label for="study" class="form-label">Does it effect you ? :</label>
                                <div class="col-md-1">
                                    <select class="form-select" name="yes_no3" id="affect">
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>
                                    </select>
                                    <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                                </div>
                            </div>
                          </div>
<div style="margin:50px 0px 100px 0px">
                        <div class="form-submit">
                            <input type="submit" value="Reset All" class="btn btn-outline-dark submit" name="reset" id="reset" />
                            <input type="submit" value="Submit Form" class="btn btn-dark submit" name="submit" id="submit" />

                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
    </div>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='Files/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='Files/js/main.js') }}"></script>
</body>

</html>
